
    <div className={styles.tournamentLayout}>
      <div className={styles.sidePanel}>
        <SideSection title="Tournament">
          <div className={styles.tournamentTitle}>{tournament?.Title}</div>
        </SideSection>

        <SideSection title="Categories">
          <EditSelector action={setGroup} current={group} list={groupNames} />
        </SideSection>

        <SideSection title="Pitches">
          <EditSelector list={["Z1", "Z2", "Z3"]} />
        </SideSection>
      </div>
      <div>
        <div className={styles.groupDetailsSection}>
          <h3>Define groups for [{group}]</h3>
          <div>{children}</div>
        </div>
      </div>
    </div>
