.tournamentLayout {
  display: grid;
  //grid-template-areas: "side-panel" "details";
  grid-template-columns: 280px auto;
  width: 100%;
  height: 100vh; // Adjust based on your actual layout
  padding: 0;
}

active {
  color: red;
}

.sidePanel {
  border-right: 2px solid red;
  >h4 {
    width: auto;
    background: none;
  }
  >div {
    border-bottom: 1px solid blue;
    padding-bottom: 3rem;
  }
  .sideLabel {
    font-weight: bold;
    margin-right: 0.5em; // Space between label and title
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.8rem;
    .sideSection {
      padding: 0.5em 1em; 
      border-top: 3px double #333;
      background: red;
    }
  }

  .sideSection, 
  .groupsSection {
    .groupItem {
      padding: 0.5em 1em;
      background-color: #ddd; // Non-active group background color
      &:hover {
        background-color: #ccc; // Hover state background color
      }
      &.active {
        background-color: #4CAF50; // Active group background color
        color: #333;
        font-weight: bold;
      }
    }
  }
}

.groupDetailsSection {
  padding: 0em;
  // background-color: #4CAF50; // Details section background color
  // Additional styles for the details section, if necessary
}
